[Unit]
Description=Ignition (record completion)
DefaultDependencies=false
Before=initrd.target

Requires=ignition-disks.service
After=ignition-disks.service

Requires=ignition-files.service
After=ignition-files.service

Requires=sysroot-boot.service
After=sysroot-boot.service

[Service]
Type=oneshot
# We will only run if GRUB detected this file. Fail if we are unable to
# remove it, rather than risking rerunning Ignition at next boot.
ExecStart=/bin/sh -c 'if [ ! -e /sysroot/boot/flatcar/first_boot ] && [ ! -e /sysroot/boot/coreos/first_boot ]; then echo "error: /sysroot/boot/(flatcar|coreos)/first_boot not found"; exit 1; else  [ -e /sysroot/boot/flatcar/first_boot ] && rm /sysroot/boot/flatcar/first_boot; [ -e /sysroot/boot/coreos/first_boot ] && rm /sysroot/boot/coreos/first_boot; fi'
