[Unit]
Description=Network Cleanup
DefaultDependencies=false
RefuseManualStart=true
RefuseManualStop=true
# If we're using a netroot, we can't tear down the network
ConditionKernelCommandLine=!netroot

PartOf=systemd-networkd.service
Before=systemd-networkd.service initrd-switch-root.target
# Switching the root filesystem terminates all running services with binaries from the initramfs, we need to finish before that happens
Conflicts=initrd-switch-root.target

[Service]
RemainAfterExit=true
ExecStop=/usr/bin/ip addr flush up
ExecStop=/usr/bin/ip link set group default down

[Install]
WantedBy=systemd-networkd.service
