ACTION=="add", SUBSYSTEM=="net", ENV{INTERFACE}=="e*", RUN+="/usr/lib/flatcar/issuegen add $env{INTERFACE}"
ACTION=="remove", SUBSYSTEM=="net", ENV{INTERFACE}=="e*", RUN+="/usr/lib/flatcar/issuegen remove $env{INTERFACE}"
