[Unit]
Description=Modifies /etc/environment for CoreOS
RequiresMountsFor=/oem
ConditionPathExists=/oem/bin/flatcar-setup-environment

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/oem/bin/flatcar-setup-environment /etc/environment

[Install]
WantedBy=multi-user.target
