[Unit]
Description=Install an ssh key from /proc/cmdline

[Service]
Type=oneshot
ExecStart=/usr/lib/flatcar/ssh-key-proc-cmdline

[Install]
WantedBy=multi-user.target
