[Match]
Name=*
KernelCommandLine=!root

[Network]
DHCP=yes
KeepConfiguration=dhcp-on-stop
IPv6AcceptRA=true

[DHCP]
ClientIdentifier=mac
UseMTU=true
UseDomains=true
