[Match]
Virtualization=vmware
Type=!loopback dummy bridge tunnel vxlan wireguard
Driver=!veth

[Network]
DHCP=yes
KeepConfiguration=dhcp-on-stop
IPv6AcceptRA=true

[DHCP]
UseMTU=true
UseDomains=true
RequestBroadcast=true
