[Match]
# Only virtual NICs have a Kind, and we want to exclude those.
Kind=!?*
Type=!loopback
Virtualization=vmware

[Network]
DHCP=yes
KeepConfiguration=dynamic-on-stop
IPv6AcceptRA=true

[DHCP]
UseMTU=true
UseDomains=true
RequestBroadcast=true
