[Match]
Virtualization=vmware

[Network]
DHCP=yes
KeepConfiguration=dhcp-on-stop
IPv6AcceptRA=true

[DHCP]
UseMTU=true
UseDomains=true
RequestBroadcast=true
