[Network]
DHCP=yes
KeepConfiguration=dhcp-on-stop
IPv6AcceptRA=true

[Match]
Name=*
Type=!loopback dummy bridge tunnel vxlan wireguard
Driver=!veth

[DHCP]
UseMTU=true
UseDomains=true

[DHCPv4]
RoutesToDNS=false
