[Network]
DHCP=yes
KeepConfiguration=dhcp-on-stop

[Match]
Name=*
Type=!loopback !dummy !bridge !tunnel !vxlan
Driver=!veth

[DHCP]
UseMTU=true
UseDomains=true
