[Match]
# Only virtual NICs have a Kind, and we want to exclude those.
Kind=!?*
Type=!loopback

[Network]
DHCP=yes
KeepConfiguration=dynamic-on-stop
IPv6AcceptRA=true

[DHCP]
UseMTU=true
UseDomains=true

[DHCPv4]
RoutesToDNS=false
